---
# tasks file for k8s_cluster
- include_tasks: masterconf.yml
  when: inventory_hostname in groups['kube_master']

- include_tasks: workerconf.yml
  when: inventory_hostname in groups['kube_workers']
